p{
    background-color: lightgray;
    background-image:url("image/Kawachi-Fuji-Garden-wisteria-GettyImages-684691336.webp");
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    background-attachment:fixed;
}
h1{
    color:#000000;
    background-color:lightslategray
}